# CHAIN LADDER

In [3]:
import numpy as np
import pandas as pd

## Importation des donn√©es

In [7]:
base=pd.read_csv(r"C:\Users\luc-a\Desktop\BookReserving\ReservingBook\data\othliab.csv") 
base=base.iloc[:,1:]
base.head()

,GroupCode,Company,AccidentYear,DevelopmentYear,Lag,CumulativeIncurred,CumulativePaid,IBNR,DirectEP,CededEP,NetEP,Single,Reserve1997
0,337,California Cas Grp,1988,1988,1,445,9,394,1328,433,895,0,691
1,337,California Cas Grp,1988,1989,2,442,36,292,1328,433,895,0,691
2,337,California Cas Grp,1988,1990,3,471,70,140,1328,433,895,0,691
3,337,California Cas Grp,1988,1991,4,493,182,72,1328,433,895,0,691
4,337,California Cas Grp,1988,1992,5,488,300,160,1328,433,895,0,691

##